/*
    Fight for artistic creativity WEB Spam Block System
        Author : nirot1r(Tomotada Saigusa)
        Support : Twitter-FFAC Team
*/
    /* Font Load */
        @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
    /* Tag Fixes */
        * {
            box-sizing: border-box;
            color: #fff;
            font-family: 'Noto Sans Japanese', sans-serif;
        }
        html, body {
            margin: 0; padding: 0;
            width: 100%; height: 100%;
            background-color: #333;
        }
        select {
            width: 100%;
            height: 2em;
            font-size: 1.25em;
                color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
            th {
                border-bottom: 5px #fff solid;
                padding: 10px 0px;
            }
            tr {
                border-bottom: 1px #aaa solid;
            }
            td {
                padding: 10px 0px;
            }
    /* Classes */
        .header {
            padding: 10px;
            text-align: center;
            background-color: #222;
                color: #fff;
        }
            .header-centering {
                height: 100%;
                display: flex;
                    align-items: center;
                    justify-content: center;
                background: linear-gradient(#af2121, #333);
                font-size: 1.5em;
                    font-weight: bold;
            }
            .header-title {
                font-size: 1.5em;
            }
            .header-subtitle {
                
            }
        .container {
            padding: 20px 100px;
            width: 100%; height: 100%;
            text-align: center;
        }
        .column {
            display: inline-block;
            vertical-align: middle;
            width: 49%;
        }
        .card {
            margin: 5px; padding: 10px;
            border: 1px #fff solid;
            background-color: #444;
                color: #fff;
        }
            .card-icon {
                font-size: 4em;
                text-align: center;
            }
            .card-header {
                font-size: 2em;
                    font-weight: bold;
                text-align: center;
            }
            .card-content {
                text-align: center;
            }
    /* Component */
        .btn {
            display: inline-block;
            background-color: #af2121;
                text-decoration: none;
            border: 1px #fff solid;
            margin: 0.5em; padding: 0.25em 1em;
            transition: all 300ms 0s ease;
            font-size: 1rem;
                font-weight: bold;
                color: #fff;
        }
            .btn[disabled], .btn[disabled]:hover, .btn[disabled]:active {
                background-color: #500;
            }
            .btn:hover {
                background-color: #e83030;
            }
            .btn:active {
                background-color: #7f1818;
            }
        .no-display {
            display: none;
        }