/* Tag */
html {
    height: 100%;
}
body {
    height: 100%;
    text-shadow: 0px 0px 2px #aaa;
}
/* Class */
.profile {
    text-align: left;
}
    .profile .title {
        font-size: 1.5em;
        font-weight: bold;
    }
    .profile .content {
        margin: 5px;
        font-size: 1em;
    }
.footer {
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.shadow {
    box-shadow: 0px 1px 3px #aaa;
}
.data {
    margin: 5px;
    padding: 5px;
    height: 130px;
}
/* Bootstrap */
.container {
    margin-bottom: 20px;
}